@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
body,
button,
input,
select {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}

button,
a {
    cursor: pointer;
}

.service-container {
    padding: 86px 0 132px;
    border-top: 1px solid #e2e2e2;
}

.service-item p:nth-child(2) {
    margin: 20px 0 14px;
    font-size: 18px;
    color: #141414;
}

.service-item p:nth-child(3) {
    line-height: 28px;
}

#get-started {
    background: linear-gradient(90deg, #FE985B 2.77%, #FE4FA7 100%);
    padding: 120px 0;
}

#get-started h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
}

#get-started p {
    font-size: 20px;
    line-height: 30px;
    margin: 28px auto 22px;
    max-width: 550px;
}

#get-started button {
    font-size: 18px;
    line-height: 22px;
    color: #464646;
    background-color: #fff;
    padding: 15px 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}
.content{
    font-size: 24px;
    padding: 160px 118px;
    
    line-height: 40px;
    color: #414141;

    justify-content: center;
    
}
.imagess{
    margin-left: 321px;
}


@media (max-width: 768px) {
    #get-started h2 {
        font-size: 39px;
    }

}

@media (max-width: 576px) {
    #get-started h2 {
        font-size: 30px;
    }

    #get-started p {
        font-size: 16px;
    }

}