* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  #header {
    position: relative;
    margin-bottom: 85px;
  }
  
  .fixed-menu {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 1000 !important;
    margin-top: 0 !important;
    box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.35) !important;
  }
  
  /* .banner_header {
    position: absolute;
    z-index: 1;
  } */
  
  .banner_header,
  .banner_header img {
    width: 100%;
  }
  
  .header-content {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
  
  .header-advertisement {
    height: 35px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
  }
  
  .qc {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .qc p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
  }
  
  .user {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    margin-right: 80px;
    gap: 8px;
  }
  
  #righteous {
    width: 2px;
    height: 20px;
    background-color: white;
  }
  
  /* .user::after {
    content: "";
    border-width: 8px 0.1px;
    border-style: solid;
    border-color: white;
    position: absolute;
    top: 10px;
    right: 104px;
  } */
  
  .user button {
    background-color: black;
    color: white;
    border: none;
  }
  
  .header-menu {
    width: 100%;
    height: 71px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 35px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
  }
  
  .logo {
    height: 100%;
    font-size: 35px;
  }
  
  .logo img {
    height: 100%;
  }
  
  .header-menu_item {
    height: 100%;
    text-align: center;
  }
  
  .active {
    border-bottom: 2px solid black;
  }
  
  .header-menu_item ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .header-menu_item li {
    font-weight: 700;
    font-size: 17px;
    padding: 15px;
    position: relative;
  }
  
  .header-menu_item li::after {
    content: "";
    width: 120px;
    height: 15px;
    position: absolute;
    background-color: transparent;
    bottom: -8px;
    left: 10px;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search form {
    border: 1px solid #cfd5db;
    border-radius: 20px;
    padding: 2px 10px;
    margin-right: 10px;
  }
  
  .search input {
    border: none;
    width: 120px;
    font-size: 14px;
  }
  
  .search input:focus {
    outline: 0;
  }
  
  .search button {
    border: none;
    background-color: white;
  }
  
  .fa-cart-shopping {
    font-size: 24px;
  }
  
  .total-item,
  .total-item-mb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 72px;
    color: white;
  }
  
  .login,
  .login-mb {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 200;
  }
  
  .login {
    transform-origin: 100% 5%;
    animation: headernotifyGrowth ease-in 0.5s;
    will-change: opacity, transform;
  }
  
  @keyframes headernotifyGrowth {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .close,
  .close-mb {
    background-color: white;
    color: black;
    border: none;
    width: 16px;
    height: 16px;
    padding: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .close i,
  .close-mb i {
    font-size: 24px;
    position: absolute;
    right: 4px;
    top: -4px;
  }
  
  .login-content,
  .registration-content{
    width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .login-content-mb,
  .registration-content-mb {
    width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
  
  .registration-content-mb {
    margin-top: 20px;
  }
  
  .login-content-mb {
    margin-top: 100px;
  }
  
  .login-content input,
  .login-content-mb input,
  .registration-content input,
  .registration-content-mb input  {
    width: 100%;
    height: 57px;
    padding: 6px 12px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ced4da;
  }
  
  .login-content button,
  .login-content-mb button,
  .registration-content button,
  .registration-content-mb button {
    width: 100%;
    height: 57px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    border: none;
  }
  
  .login h3,
  .login-mb h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .login-content p,
  .login-content-mb p,
  .registration-content p,
  .registration-content-mb p {
    margin: 15px 0;
    color: gray;
  }
  
  .login-item,
  .registration-item {
    display: flex;
    justify-content: space-between;
  }
  
  .login-item button,
  .registration-item button {
    width: 150px;
    height: 38px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #ced4da;
    font-weight: 300;
  }
  
  .login-item img,
  .registration-item img {
    margin-right: 5px;
  }
  
  .login-content a,
  .login-content-mb a,
  .registration-content a,
  .registration-content-mb a {
    color: #0d6efd;
  }
  
  .login-content p:last-child,
  .login-content-mb p:last-child,
  .registration-content p:last-child,
  .registration-content-mb p:last-child {
    color: black;
  }
  
  .login-content input:focus,
  .login-content-mb input:focus,
  .registration-content input:focus,
  .registration-content-mb input:focus {
    outline: 0;
  }
  
  .policy {
    color: black !important;
    margin-bottom: 0 !important;
    font-size: 17px;
  }
  
  /* #list-products {
    margin-bottom: 50px;
  } */
  
  .container h2 {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 24px;
  }
  
  /* .products-item {
    border: 1px solid;
  } */
  
  .products-item,
  .products-item img {
    width: 100%;
  }
  
  .products-item p {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .display-none {
    display: none !important;
  }
  
  #banner {
    margin-bottom: 85px;
    width: 100%;
  }
  
  #banner img {
    width: 100%;
  }
  
  #list-products button {
    border: none;
  }
  
  .next-left-it1,
  .next-left-it2 {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
  }
  
  .next-left-it1 {
    top: -300px;
    left: 30px;
  }
  
  .next-left-it2 {
    top: -250px;
    left: 30px;
  }
  
  .next-left-it1 i,
  .next-left-it2 i {
    font-size: 20px;
  }
  
  .next-right-it1,
  .next-right-it2 {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
  }
  
  .next-right-it1 {
    top: -350px;
    left: 95%;
  }
  
  .next-right-it2 {
    top: -300px;
    left: 95%;
  }
  
  .next-right-it1 i,
  .next-right-it2 i {
    font-size: 20px;
  }
  
  #footer .container {
    padding: 0 120px;
  }
  
  #footer h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  #footer li {
    padding: 5px 0;
    font-size: 14px;
  }
  
  #footer input {
    padding: 14px 24px;
    margin-right: -1px;
  }
  
  .uu_dai {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }
  
  .uu_dai input:focus {
    outline: 0;
  }
  
  .uu_dai button {
    width: 120px;
    height: 56px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
  }
  
  .connect p {
    font-size: 16px;
  }
  
  .connect i {
    font-size: 30px;
    margin-right: 20px;
  }
  
  .payment {
    margin: 30px 0 100px;
  }
  
  .license {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: blue;
    border: 1px solid;
    border-color: #ccc transparent transparent transparent;
  }
  
  .list-item {
    background-color: white;
    padding: 5px 15px;
    position: absolute;
    top: 63px;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    min-width: 140px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
    display: none;
  }
  
  .header-menu_item li:hover .list-item {
    display: block;
  }
  
  /* Trang sản phẩm */
  .move {
    margin-top: 125px;
    padding: 0 80px;
  }
  
  .move a {
    font-size: 14px;
    color: #846e6e;
  }
  
  .move a:last-child {
    color: black;
  }
  
  .banner_trangsp {
    margin-top: 20px;
    width: 100%;
    max-height: 772px;
  }
  
  .banner_trangsp img {
    max-width: 100%;
  }
  
  .margin_top {
    margin: 85px 0;
    border: 1px solid;
    border-color: transparent transparent #cdcdcd transparent;
    padding-bottom: 30px;
  }
  
  .price {
    font-size: 18px;
    font-weight: 700;
  }
  
  .product_page {
    display: flex;
    align-items: center;
    flex-basis: 60%;
    justify-content: center;
  }
  
  .product_page i,
  .product_page li {
    cursor: pointer;
  }
  
  .end_product {
    display: flex;
    align-items: center;
  }
  
  .end_product p {
    margin: 0;
  }
  
  .end_product ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 10px;
  }
  
  .end_product li {
    padding: 10px 15px;
    /* background-color: black;
    color: white; */
  }
  
  .end_product .active-li {
    background-color: black;
    color: white;
  }
  
  .mess {
    position: fixed;
    right: 20px;
    bottom: 150px;
    z-index: 100;
  }
  
  .mess button {
    border: none;
    background-color: transparent;
  }
  
  .back_top {
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 210px;
    z-index: 100;
  }
  
  .back_top a {
    color: white;
    font-size: 24px;
    padding: 0px 10px;
  }
  
  #detail-product {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  #detail-product .container {
    padding: 0 100px;
  }
  
  .img-group {
    display: flex;
    align-items: center;
  }
  
  .img-list {
    height: 462px;
    margin-right: 10px;
    width: 80px;
  }
  
  .img-list-item {
    width: 67px;
    height: 67px;
    margin-bottom: 10px;
  }
  
  .img-list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-grow {
    padding-right: 40px;
  }
  
  .img-grow img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
  }
  
  #detail-product .col-lg-4 h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  #detail-product .col-lg-4 p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .option_product {
    margin-bottom: 50px;
  }
  
  .size_product {
    margin-bottom: 30px;
  }
  
  .option_product img {
    border: 1px solid;
    cursor: pointer;
  }
  
  .option_product p,
  .size_product p,
  .total_product p {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-bottom: 15px;
  }
  
  .size_product a {
    font-size: 14px;
    color: #9f9f9f;
  }
  
  .size_product a:hover {
    color: black;
  }
  
  .size_product ul {
    display: flex;
  }
  
  .size_product li {
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid transparent;
  }
  
  .choose-size {
    border-bottom-color: black !important;
  }
  
  .total_product {
    display: flex;
    align-items: center;
  }
  
  .total_product p {
    margin-right: 15px;
    margin-bottom: 0px !important;
  }
  
  .number_product {
    display: flex;
    align-items: center;
  }
  
  .number_product button {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid;
    font-size: 16px;
  }
  
  .number_product span {
    padding: 5px 15px;
    border: 1px solid;
  }
  
  .total_product {
    margin-bottom: 40px;
  }
  
  .add-cart {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
    background-color: white;
  }
  
  .add-cart i {
    margin-right: 10px;
  }
  
  .btn-buy,
  .btn-order {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 30px;
  }
  
  .policy {
    width: 100%;
  }
  
  .policy li {
    width: 100%;
    font-size: 16px;
    padding: 15px 0;
    border: 1px solid;
    border-color: transparent transparent black transparent;
    color: #212529;
    font-weight: 300;
  }
  
  .policy .fa-angle-down {
    float: right;
  }
  
  .list_store {
    text-decoration: underline;
  }
  
  .fa-truck,
  .fa-credit-card,
  .fa-repeat {
    margin-right: 5px;
  }
  
  .information-product {
    margin-top: 20px;
  }
  
  .information-product h3 {
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    border-color: transparent transparent gray transparent;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
  .information-product p {
    font-size: 16px;
  }
  
  .header-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border: 1px solid;
    border-color: transparent transparent gray transparent;
  }
  
  .header-cart h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .header-cart a {
    font-size: 14px;
  }
  
  .products-cart {
    padding-bottom: 5px;
  }
  
  .produts-cart-item {
    display: flex;
    border: 1px solid;
    border-color: transparent transparent gray transparent;
    margin-top: 30px;
  }
  
  .cart-item-img {
    width: 150px;
    margin-right: 20px;
  }
  
  .cart-item-img img {
    width: 100%;
  }
  
  .cart-item-infor {
    display: flex;
    justify-content: space-between;
    flex-basis: 77%;
  }
  
  .cart-item-total h3,
  .cart-item-total p,
  .cart-item-price p {
    font-size: 16px;
  }
  
  .cart-item-price {
    margin-right: 10px;
  }
  
  .cart-item-total h3 {
    margin-bottom: 15px;
  }
  
  .cart-item-total p {
    color: #6d6e6e;
  }
  
  .cart-item-total p:last-child {
    cursor: pointer;
  }
  
  .cart-item-total .total_product {
    margin-bottom: 20px;
  }
  
  .pay {
    margin-left: 30px;
    margin-top: 15px;
  }
  
  .pay-price {
    display: flex;
    justify-content: space-between;
  }
  
  .pay-price span {
    font-size: 16px;
    font-weight: 700;
  }
  
  .pay-price p,
  .pay p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  
  .pay button {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .endow {
    margin-bottom: 5px !important;
  }
  
  .receiver_information input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .note {
    margin-bottom: 80px;
  }
  
  .note input {
    width: 100%;
    padding: 10px 10px 100px 10px;
    margin-bottom: 15px;
  }
  
  .payment_option {
    margin-bottom: 15px;
  }
  
  .payment_option div,
  .choose_delivery div {
    width: 100%;
    border: 1px solid #767676;
    padding: 10px;
  }
  
  .choose_delivery {
    margin-bottom: 50px;
  }
  
  .VN-pay,
  .standard {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  .Bank,
  .free {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  form p {
    font-size: 16px;
    font-weight: 700;
  }
  
  .confirm {
    margin-top: 60px;
    margin-left: 30px;
  }
  
  .confirm h2 {
    font-size: 16px;
    margin-bottom: 19px;
  }
  
  .voucher input {
    padding: 10px;
    width: 230px;
    float: left;
  }
  
  .voucher button {
    width: 97px;
    height: 48px;
    color: white;
    background-color: black;
    border: none;
    font-size: 16px;
  }
  
  .voucher {
    margin-bottom: 30px;
  }
  
  .confirm p {
    font-size: 16px;
    padding-bottom: 5px;
    border: 2px solid;
    border-color: transparent transparent black transparent;
  }
  
  .confirm-product {
    display: flex;
  }
  
  .confirm-product_img {
    width: 75px;
    margin-right: 10px;
  }
  
  .confirm-product_img img {
    max-width: 100%;
  }
  
  .confirm-product-infor h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .confirm-product-infor p {
    font-size: 14px !important;
    border: none;
    color: #7f828c;
    font-weight: 400 !important;
    margin-bottom: 10px !important;
    padding: 0;
  }
  
  .confirm-price p {
    font-size: 14px !important;
    width: 100%;
    display: flex;
    justify-content: end;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .confirm-price {
    border: 2px solid;
    border-color: transparent transparent #eee transparent;
    margin-bottom: 20px;
  }
  
  .provisional,
  .ship,
  .confirm-price-total,
  .count-voucher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border: 2px solid;
    border-color: transparent transparent #eee transparent;
  }
  
  .provisional span,
  .ship span,
  .confirm-price-total span,
  .count-voucher span {
    font-size: 16px;
    font-weight: 700;
  }
  
  .provisional p,
  .ship p,
  .confirm-price-total p,
  .count-voucher p {
    border: none;
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .ship p {
    color: #6d7073;
  }
  
  .confirm-price-total p {
    color: red;
  }
  
  .confirm-price-total {
    margin-bottom: 20px;
  }
  
  #btn-confirm {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border: none;
    font-size: 16px;
  }
  
  .carousel {
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 80px;
  }
  
  .carousel_tablet {
    display: none !important;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 80px;
  }
  
  .carousel_mb {
    display: none !important;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 80px;
  }
  
  .carousel button,
  .carousel_mb button,
  .carousel_tablet button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .carousel button:hover,
  .carousel_tablet button:hover {
    background-color: white;
    color: black;
  }
  
  .slick-prev {
    position: absolute;
    z-index: 100;
  }
  
  .slick-next {
    position: absolute;
    right: 2%;
    top: 40%;
  }
  
  .slick-prev {
    top: 40%;
    left: 2%;
  }
  
  .slick-initialized .slick-slide {
    margin: 0 10px;
  }
  
  .header-menu-moblie {
    display: none;
    width: 100%;
    height: 50px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 35px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
    padding: 0 15px;
  }
  
  .offcanvas-body {
    padding: 0;
  }
  
  .offcanvas-header {
    justify-content: center !important;
  }
  
  .offcanvas-title {
    color: #aca8a8;
  }
  
  .offcanvas-body ul {
    padding-left: 15px;
    margin-bottom: 80px;
  }
  
  .offcanvas-body li {
    border-bottom: 1px solid #aca8a8;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .offcanvas-body li a {
    padding: 10px 0;
  }
  
  .offcanvas-body li span {
    font-size: 20px;
    border-left: 1px solid #aca8a8;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aca8a8;
  }
  
  .login-mobile {
    padding-left: 15px;
  }
  
  .login-mobile button {
    border: none;
    background-color: white;
    width: 100%;
    text-align: left;
    padding: 5px 0;
  }
  
  .login-mobile button i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .login-mobile button:last-child {
    border-bottom: 1px solid #aca8a8;
  }
  
  #down-th,
  #down-cs,
  #down-tv {
    display: none;
  }
  
  .display-block {
    display: block !important;
  }
  
  #offcanvasExample {
    display: none;
  }
  
  .offcanvas-backdrop.show {
    opacity: 0;
  }
  
  .scroller {
    height: 450px;
    overflow-y: scroll;
  }
  
  #style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  
  #style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
  }
  
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  
  /* .payment-list {
    height: 150px;
    overflow-y: scroll;
  } */
  
  .img-post img {
    max-width: 100%;
    width: 100%;
  }
  
  .post-content {
    padding: 10px;
  }
  
  .post-content h3,
  .post-content h4,
  .post-content p,
  .post-tintuc-content h3,
  .post-tintuc-content p {
    font-size: 16px;
  }
  .post-tintuc-content h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .post-content h3,
  .post-tintuc-content h3 {
    color: #8f8f19;
  }
  
  .post-tintuc-content h3 {
    margin: 10px 0;
  }
  
  .post-content h4 {
    font-weight: 700;
  }
  
  .container .col-lg-4 h2 {
    margin-bottom: 15px;
  }
  
  .post-content p {
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .img-tintuc img {
    width: 100%;
  }
  
  .margin_top-th {
    margin-top: 40px !important;
  }
  
  .post-tintuc-content {
    margin-top: 10px;
  }
  
  .bst-content {
    text-align: center;
  }
  
  .bst-content h1 {
    margin: 30px 0;
    font-size: 24px;
  }
  
  .bst-content p {
    font-size: 16px;
  }
  
  .post-item {
    cursor: pointer;
  }
  
  .layout_post__heading .text-category {
    font-weight: bold;
    font-size: 16px;
    color: #BD7509;
    margin-bottom: 5px;
  }
  
  .layout_post__heading .text-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3D4352;
    margin-bottom: 30px;
  }
  
  .accuracy-code {
    display: flex;
    gap: 20px;
  }
  
  .accuracy-code input {
    border: 1px solid transparent;
    border-bottom-color: black;
  }
  
  .payment_option label,
  .choose_delivery label {
    padding-right: 70%;
  }
  
  @media (max-width: 1400px) {
    .header-menu_item li {
      font-size: 16px;
    }
  
    .policy li {
      font-size: 14px;
    }
  
    #footer .container {
      padding: 0;
    }
  }
  
  @media (max-width: 1200px) {
    .search a {
      display: flex;
    }
  
    .img-group {
      align-items: unset;
    }
  
    .header-menu_item li {
      font-size: 13px;
    }
  
    #footer input {
      padding: 14px 10px;
    }
  
    .list-item {
      top: 60px;
    }
  
    .end_product {
      justify-content: space-between;
    }
  
    .product_page {
      flex-basis: unset;
    }
  
    #detail-product .container {
      padding: 0px 50px;
    }
  }
  
  @media (max-width: 1024px) {
    .move {
      padding: 0 30px;
    }
  
    .carousel {
      display: none !important;
    }
  
    .carousel_tablet {
      display: flex !important;
    }
  
    .header-menu_item li {
      font-size: 12px;
      padding: 10px;
    }
  
    .user {
      font-size: 14px;
      margin-right: 30px;
    }
  
    /* .user::after {
      right: 92px;
    } */
  
    .qc p {
      font-size: 14px;
    }
  
    .search input {
      width: 60px;
    }
  
    .header-menu {
      padding: 0 30px;
    }
  
    .total-item {
      right: 20px;
    }
  
    .payment {
      margin: 30px 0 30px;
    }
  
    .connect {
      margin-bottom: 80px;
    }
  
    #list-product_item .pe-5 {
      padding: 0px 12px !important;
    }
  }
  
  @media (max-width: 992px) {
    .list-item {
      top: 55px;
    }
  
    #detail-product .container {
      padding: 0;
    }
  
    .pay {
      margin-left: 0;
    }
  
    .confirm {
      margin-top: 50px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 740px) {
    .list-img-products {
      max-width: 300px;
    }
    .carousel_mb a {
      display: flex;
      justify-content: center;
    }
  
    .uu_dai {
      margin-bottom: 30px;
    }
  
    .carousel_mb {
      display: flex !important;
    }
  
    .carousel_tablet {
      display: none !important;
    }
  
    .qc p {
      font-size: 13px;
    }
  
    .header-menu {
      display: none;
    }
  
    .user {
      display: none;
    }
  
    .header-menu-moblie {
      display: flex;
    }
  
    #add_product {
      width: 100%;
    }
  
    .btn-primary,
    .btn-primary:hover {
      background-color: transparent !important;
      border-color: transparent !important;
      color: black !important;
      box-shadow: none !important;
      font-size: 20px;
      padding: 0 !important;
    }
    .img-list {
      gap: 0 !important;
    }
  
    .total-item-mb {
      right: 6px;
      top: 2px;
    }
  
    #footer {
      margin: 0 15px;
    }
  
    #footer h3 {
      margin: 0 0 10px 0;
    }
  
    #thuong_hieu-content,
    #chinh_sach-content,
    #tu_van-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid black;
      margin-bottom: 10px;
      padding: 10px 0;
    }
  
    #thuong_hieu,
    #chinh_sach,
    #tu_van {
      display: none;
    }
  
    #down-th,
    #down-cs,
    #down-tv {
      display: block;
    }
  
    .end_product {
      font-size: 13px;
    }
  
    #detail-product .container {
      padding: 0 12px;
    }
  
    .img-group {
      flex-direction: column-reverse;
    }
  
    .img-list {
      display: flex;
      gap: 45px;
      margin-bottom: 20px;
      width: 100%;
      height: 100%;
      margin-right: 0;
    }
  
    .img-grow {
      padding: 0;
      margin-bottom: 20px;
    }
  
    #list-product_item .products-item {
      padding: 0 60px;
    }
  
    .offcanvas-start {
      width: 80%;
    }
  
    .th-menu ul,
    .sp-menu ul,
    .ok-menu ul,
    .bst-menu ul {
      margin-bottom: 30px;
    }
   
    .back-home-th,
    .back-home-sp,
    .back-home-pk,
    .back-home-bst {
      font-weight: 500;
      padding: 5px;
      border: none;
    }
  
    #offcanvasExample {
      display: block;
    }
  
    .offcanvas-backdrop.show {
      opacity: 0.5;
    }
  
    .end_product li {
      padding: 5px;
    }
  
    .header-cart h2 {
      font-size: 18px;
    }
  
    .move {
      padding: 0px 15px;
    }
  
    .payment img {
      width: 100%;
    }
  
    .payment_option label, .choose_delivery label {
      padding-right: 40%;
  }
  }