*{margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    font-family: "Roboto", sans-serif;
}
.move {
    margin-top: 30px;
    padding: 0 300px;
  }
  
.move a {
    font-size: 14px;
    color: #846e6e;
  }
  
  .move a:last-child {
    color: black;
  }