

.container {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    grid-gap: 4rem 4rem;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
    margin-top: 20px
  }

  a {
    flex-basis: 23%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    vertical-align: middle;
    border-style: none;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }

  .card {
    width: 287px;
    margin: auto;
    height: 320px;

    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;

  }

  .image {
    width: 320px;
    height: 155px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  .content {
    padding: 16px;
  }

  .content h2 {
    font-size: 19px;
    font-weight: 400;
    color: #464646;

  }

  .content p {
    font-size: 14px;
    font-weight: 100;
    color: #757575;
    text-align: center;
  }

  .content p span {
    color: #ffd600;

  }

  .info {
    display: flex;
    justify-content: space-between;


  }

  .continer {
    max-width: 1346px;
    margin: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

  }

  ul {
    list-style: none;
  }

  body {
    line-height: 1.5;
    font-family: 'Roboto',
      sans-serif;
  }

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    grid-gap: 2.5rem 2.5rem;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 25px;

}

.card {
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-style: none;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.card {
    width: 287px;
    margin: auto;
    height: 320px;

    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;

}

.image {
    width: 320px;
    height: 155px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position: relative;
}

.content {
    padding: 16px;
}

.content h2 {
    font-size: 19px;
    font-weight: 400;
    color: #464646;

}

.content p {
    font-size: 14px;
    font-weight: 100;
    color: #757575;
    text-align: center;
}

.content p span {
    color: #ffd600;

}

.info {
    display: flex;
    justify-content: space-between;
}

.row {
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    display: flex;
    flex-wrap: nowrap;
    justify-content: 
    space-between;

}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .continer {
    max-width: 1346px;
    margin: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

  }

  ul {
    list-style: none;
  }

  .footer {
    background-color: #30598c;
    width: 100%;
    padding-top: 48px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h1 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col ul li {
    margin-bottom: 10px;
    color: #ffffff;
    padding-left: 8px;
    position: relative;


  }

  .footer-col ul li .icon {
    display: flex;
    display: inline;
  }

  .footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
    position: relative;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
  li{
    text-align:-webkit-match-parent;}
  .icon{
    display: block;}
