*{margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    font-family: "Roboto", sans-serif;
}
.move {
    margin-top: 30px;
    padding: 0 300px;
  }
  
.move a {
    font-size: 14px;
    color: #846e6e;
  }
  
  .move a:last-child {
    color: black;
  }
  .card-body{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #323232;
  }
  .btn-more button{
    border: 1px solid #000000;
    width: 196px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 80px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .2em;
    color: #000;
    text-transform: uppercase;
  }