* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    max-width: 85%;
    display: block;
    margin: auto;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  a {
    text-decoration: none;
    text-decoration-color:  #000 ;
  }
  a:hover{
    color: #000;
  }
  #banner img {
    width: 100%;
  }
#detail {
    margin-top: 50px;
    margin-bottom: 50px;
}
.detail-name {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.45px;
    padding-top: 10px;
    
}
.detail-price {
    font-size: 22px;
    font-weight: 400;
    color: #0a58ca;
    padding-top: 15px;
}
.star {
    display: flex;
    padding-top: 15px;
}
.star span {
    font-size: 22px;
}
.star-para {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    padding-left: 5px;
    padding-top: 5px;
}
.detail-size {
    margin-top: 30px;
}
.size {
    
    display: flex;
}
.size-para {
    margin-bottom: 5px;
    font-weight: 500;
}
.size-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    
    margin-right: 5px;
    cursor: pointer;
}
.size-item button {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    border: 1px solid #000;
}
.size-item button:focus {
    background-color:#000;
    color: #fff;
}
.size-item p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}
.help {
    margin-top: 10px;
}
.help button {
    background-color: #fff;
    border: none;
}
.help p {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #0573FF;
}
.detail-btn {
    margin-top: 30px;
}
.detail-btn-add {
    width: 300px;
    height: 46px;
    background-color: #000;
}
.detail-btn-add p {
    color: #fff;
    margin-bottom: 0;
}
.sup {
    margin-top: 50px;
}
.sup p {
    font-size: 14px;
    color: #6B6363;
    font-style: italic;
}
mark {
    background: #fff;
    color: #0573FF;
}
.detail-info p {
    margin-bottom: 5px;
    font-style: italic;
}

.detail-info ul {
    padding-top: 0;
    display: block;
    
}
.detail-info ul li {
    list-style-type: disc;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
}
/* .parent-description {
    /* display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible; */
    /* position: sticky;
    top: 0; */
/* } */ */
.description {
    padding-left:20px ;
    /* position: sticky;
    top: 0; */
    /* height: 581px; */
    /* border-left: 2px solid #c7c0c0; */
    
}
.like {
    margin-top: 50px;
    padding-bottom: 25px;
}
.like-tittle {
    text-transform: uppercase;
}
.modal-size {
    padding: 20px;
}
.modal-size-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px ;
}
.modal-size-title  {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;

}
.modal-size-body {
    padding-bottom: 30px;
}
.modal-size-body table,th,td {
    /* border: 1px solid; */
    padding: 10px;
}
/* .modal-size-body th {
    font-size: 14px;
} */
th {
    color: #fff;
    background-color: #000;
}
td:nth-child(even) {
    background-color: rgb(233, 236, 239);

}
table {
    margin-bottom: 30px;
   
}
table,th {
    border: 1px solid #e9ecef;
}
.modal-size-body h4 {
    font-weight: 400;
    text-transform: uppercase  ;
}
.modal-size-body ul {
    display: flex;
    flex-direction: column;
}
.modal-size-body ul li {
    list-style-type:decimal-leading;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 14px;
    text-align: left;
}
.makeSize {
    background-color: #e9ecef;
    padding-top: 12px;
    padding-bottom: 12px;
}
.size-note {
    margin-top: 30px;
}
.modal-size-footer {
    display: flex;
    justify-content: center;
    
}
/* .carousel-indicators {
    margin-bottom: 0;
} */
.carousel-indicators button {
    border: 1px solid #6b6b6b !important;
}
.carousel-indicators [data-bs-target] {
    height: auto;
    width: 70px;
    border: 0;
}
@media (max-width:768px) {
    .detail-name {
        font-size: 22px;
    }
    .detail-price {
        font-size: 17px;
    }
    .star span {
        font-size: 16px;
    }
    .star-para {
        font-size: 12px;
    }
    .size-item {
        width: 30px;
        height: 30px;
    }
    .size-item p {
        font-size: 12px;
    }
    .help p {
        font-size: 14px;
    }
    .detail-btn-add {
        height: 40px;
    }
    .detail-btn-add p {
        font-size: 14px;
    }
    .description {
        height: 410px;
        margin-top: 30px;
        border-left: none;
    }
}