#header {
    height: 80px;
    text-decoration: none;
    text-decoration-color: #000;
    font-family:  "Roboto", sans-serif;
  }
  #templatemo_nav_top{
    height: 30px;
    background-color: #0071ae;
    border-bottom: rgb(207, 211, 203);
  }

  .free {
  
    height: 30px;
    background-color: #cfd3cb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
  }
  .free p {
    padding-top: 10px;
    text-transform: uppercase;
    color: #323232;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .menu {
      padding-right: 50px;
  }
  
  .logo h2 {
    font-family: 'Bungee', cursive;
    font-size:3rem;
    margin-bottom: 0;
    padding-top: 10px;
  }
  .menu-icon {
    display: none;
  }
  .exit {
    display: none;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    display: flex;
    padding-top: 28px;
  }
  ul li {
    margin-right: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #222222;
    text-transform: uppercase;
  }
  ul li a:hover {
    color: #f79335;
    
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }
  .icon {
    padding-top: 25px;
    padding-right: 40px;
  }
  .person {
   font-size: 20px;
  }
  .bag {
    position: relative;
    padding-left: 15px;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  #number-cart {
    position: absolute;
    left: 74%;
    bottom: 6px;
    width: 24px;
    height: 24px;
    background: #0071ae;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0.9;
    color: #fff;
  }
  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.4;
    overflow: hidden;
    display: none;
    z-index: 1;
  }
  @media (max-width:768px) {
    #header {
      height: 90px;
    }
    #number-cart {
      bottom: 12px;
    }
    .icon {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: 1;
      padding-top: 16px;
      
      padding-right: 60px;
    }
    .logo h2 {
      font-size: 2rem;
      padding-top: 11px;
      padding-right: 15px;
    }
    .header-content {
      position: relative;
      justify-content:space-between;
      align-items: center;
  
    }
  ul {
    display: flex;
    flex-direction: column;
    }
    .menu-icon {
      position: absolute;
      left: 93%;
      bottom: -2px;
      display: inline-block;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .menu ul {
      position: fixed;
      top: 0;
      left: -300px;
      width: 280px;
      height: 100vh;
      overflow: hidden;
      background-color: #fff
      ;
     
      transition:  all 0.3s;
      z-index: 1001;
    }
    .menu ul li {
        padding: 10px 0;
    }
   .exit {
     display: block;
     text-align: end;
     margin-right: 30px;
   }
}
.icon button {
  background-color: #fff;
  border: none;
}
@media (max-width:992px) {
  .icon {
    display: flex;
  }
 
  .menu ul li {
    font-size: 13px;
  }
  .logo h2 {
    font-size: 2rem;
    /* padding-top: 17px; */
  }
}
@media (min-width:769px) and (max-width:992px) {
  .logo h2 {
    padding-top: 17px;
  }
  #number-cart {
    bottom: 25px;
  }
  .person svg {
    margin-bottom: 10px;
  }
}