.box{
    width: 200px;
    height: 200px;
    background-color: brown;

    /* animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite ;
    position: relative; */
   /* animation-direction: alternate;
   animation-fill-mode: backwards; */
   animation: animation 2s 1s infinite alternate;
   position: relative;
}
@keyframes animation{
    0%{
        top: 0;
        left: 0;
        
        background-color: brown;

    }
    25%{ 
        top: 0;
        left:300px;
       
        background-color: blue;

    }
    50%{ 
        top: 300px;
        left: 300px;

     
        background-color: brown;

    }
    75%{ 
        top: 300px;
        

     
        background-color: brown;

    }
    100%{ 
        top: 0;
        left: 0;

     
        background-color: rgb(7, 5, 5);

    }
}